// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

//spacers
$spacer: 1rem;

$spacers: (
  0: 0,
  .25: .25 * $spacer,
  .5: .5 * $spacer,
  1: 1 * $spacer,
  1.5: 1.5 * $spacer,
  2: 2 * $spacer,
  2.5: 2.5 * $spacer,
  3: 3 * $spacer,
  3.5: 3.5 * $spacer,
  4: 4 * $spacer,
  4.5: 4.5 * $spacer,
  5: 5 * $spacer,
  5.5: .5 * $spacer,
  6: 6 * $spacer,
);