/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

html {
  font-size: calc(15px + 0.390625vw);
}

.primary-heading {
  color: white;
  font-size: 2rem;
  line-height: 1.1;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  margin-block: 16px;
}

.primary-heading--small {
  color: white;
  font-size: 1rem;
  line-height: 1.1;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
}

.primary-heading--italic {
  color: #54483A;
  font-size: 2rem;
  line-height: 1;
  font-family: "Josefin Sans", sans-serif;
  font-style: italic;
}

.secondary-heading {
  color: #c69963;
  font-size: 0.75rem;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.button {
  background-color: #B28451;
  padding: 0.5rem 1.2rem;
  border: 0;
}
.button a {
  font-size: 0.8rem;
  text-decoration: none;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.global-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.global-container .hero {
  grid-column: span 12;
}
@media (min-width: 800px) {
  .global-container .hero {
    grid-column: span 8;
  }
}
.global-container .hero__content {
  display: grid;
  grid-template-rows: 1fr -webkit-min-content 1fr;
  grid-template-rows: 1fr min-content 1fr;
  gap: 1.5rem;
}
.global-container .hero__content header {
  margin-inline: auto;
}
.global-container .realtors {
  grid-column: span 12;
}
@media (min-width: 800px) {
  .global-container .realtors {
    grid-column: 9/13;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.navigation {
  background-color: #c69963;
}
.navigation .nav-button {
  padding: 0.75rem 1.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
}
@media (min-width: 1000px) {
  .navigation .nav-button {
    padding-block: 1.5rem;
    padding-inline: 0.75rem;
  }
}
.navigation .nav-button div {
  height: 0.125rem;
  width: 2.2rem;
  background-color: white;
}
.navigation .nav-button div:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.global-container .hero {
  overflow: hidden;
  height: calc(100vh - 46px);
  background-color: #54483A;
  background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url(../img/hero.jpeg);
}
@media (min-width: 800px) {
  .global-container .hero {
    max-height: 85vh;
    padding: 40px;
  }
}
.global-container .hero__container {
  padding: 40px;
  height: 100%;
}
.global-container .hero__content {
  height: 100%;
}
.global-container .hero__content img:first-of-type {
  height: 1.5rem;
}
.global-container .hero__content section {
  margin-top: auto;
}
.global-container .hero__content section:nth-of-type(2) {
  color: grey;
}
.global-container .hero__content section img {
  max-height: 1rem;
  filter: brightness(70%);
}
.global-container .hero__content section .logos {
  padding-top: 24px;
  border-top: 1px solid grey;
  position: relative;
  display: flex;
  justify-content: space-around;
}
.global-container .hero__content section .logos::after {
  content: "Seen on";
  font-size: 14px;
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translateX(-40%);
  background-color: #101d2c;
  padding-inline: 16px;
}
.global-container .realtors {
  overflow: hidden;
  background-color: #101d2c;
}
.global-container .realtors__container {
  padding: 30px;
}
.global-container .realtors__container > .secondary-heading {
  text-align: center;
  margin-bottom: 16px;
}
@media (min-width: 800px) {
  .global-container .realtors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 85vh;
  }
}
.global-container .realtors__content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}
@media (min-width: 600px) {
  .global-container .realtors__content {
    display: flex;
    gap: 16px;
  }
}
@media (min-width: 800px) {
  .global-container .realtors__content {
    display: block;
  }
}
.global-container .realtors__content .realtor {
  display: flex;
  gap: 16px;
}
.global-container .realtors__content .realtor:not(:last-of-type) {
  margin-bottom: 48px;
}
.global-container .realtors__content .realtor img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.global-container .realtors__content .realtor p {
  font-size: 10px;
  color: gray;
}

.features {
  grid-column: span 12;
  font-family: "Nunito", sans-serif;
}
.features__container {
  padding: 128px 48px;
}
.features__content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media (min-width: 543px) {
  .features__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 791px) {
  .features__content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.features__content .feature {
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  gap: 16px;
}
.features__content .feature__svg {
  margin-top: 8px;
  width: 48px;
  height: 32px;
}
.features__content .feature h3 {
  color: #54483A;
  font-family: "Josefin Sans", sans-serif;
}
.features__content .feature p {
  grid-column: 2/3;
  color: #6D5D4B;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
}

.testimonials {
  grid-column: span 12;
}
@media (min-width: 800px) {
  .testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.testimonials__content {
  padding: 48px 48px;
  background-color: #f9f7f6;
  order: 1;
  display: grid;
  grid-template-rows: -webkit-min-content 0.5fr 1.5fr -webkit-min-content;
  grid-template-rows: min-content 0.5fr 1.5fr min-content;
  gap: 16px;
}
.testimonials__content p {
  color: #6D5D4B;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
}
.testimonials__content .button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.testimonials .images-container {
  background-color: #c69963;
  padding: 48px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.testimonials .images-container img:first-of-type {
  grid-column: 1/6;
  aspect-ratio: 4/3;
  grid-row: 1/7;
}
.testimonials .images-container img:last-of-type {
  grid-column: 5/9;
  grid-row: 2/5;
}

@media (min-width: 1000px) {
  body {
    display: flex;
  }
}
@media (min-width: 1000px) {
  body .global-container {
    flex: 1;
  }
}

/*  *{
    background-color: rgb(233, 210, 214);
    border: 1px solid red;
}*//*# sourceMappingURL=main.css.map */